body{
    width: 100%;
    text-align: center;
    background: linear-gradient(to right, #04759f, #5fa5be, #eff3ff);
}
.header h1{
    width: 100%;
    text-align: center;
    padding: 30px;
    color: white;
    font-family: 'Arsenal', sans-serif;
}

.return-result{
    color: white;
    font-family: 'Arsenal', sans-serif;
}


.btn-outline-success{
    color: #0393c9;
    background-color: #9fc9dc;
    width: 24%;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    border-color: #0393c9;
}

.btn-outline-success:hover{
    color: #9fc9dc;
    background-color: #04759f;
    width: 24%;
    border-radius: 5px;
    padding: 15px;
}

.container-fluid{
    width: 100%;
    margin: auto;
    padding: 10px;
}

.input-areas{
    margin: auto;
    padding: 25px;
    font-family: 'Arsenal', sans-serif;
}

input {
    font-size: 35px;
    color: #04759f;

}

.num-1-input{
    width: 200px;
    height: 100px;
    margin: auto
}

.num-2-input{
    width: 200px;
    height: 100px;
    margin: auto
}

.all-calc-buttons{
    width: 100%;
    text-align: center;
}
.row {
    justify-content: center;
}


.container-fluid{
    width: 100%;
    text-align: center;
}
